<div class="dashboard-functions">
    <div class="subcontainer-row-dashboard">
        <a href="/noleggi/nuovo" class="function-button-link"><button><i class='bx bx-list-plus'></i>
                <div style="width: 8px;"></div> Crea noleggio
            </button></a>
    </div>
    <div class="subcontainer-row-dashboard" style="text-align: right;">
        <a href="#" class="function-button-link"><button><i class='bx bx-book-bookmark nav_icon'></i>
            <div style="width: 8px;"></div> Manuale
        </button></a>
    </div>
</div>
<% if(session.user.ruolo !="utente" ){%>
    <br>
    <div class="dashboard-functions">
        <div class="subcontainer-row-dashboard">
            <a href="/prodotti/nuovo" class="function-button-link"><button><i class='bx bx-message-alt-add nav_icon'></i>
            <div style="width: 8px;"></div> Crea noleggio
        </button></a>
        </div>
        <div class="subcontainer-row-dashboard" style="text-align: right;">
            <a href="/noleggi/nuovo" class="function-button-link"><button><i class='bx bx-message-alt-add nav_icon'></i>
                <div style="width: 8px;"></div> Crea noleggio
            </button></a>
        </div>
    </div>
    <% if(session.user.ruolo !="gestore" ){%>
        <br>
        <div class="dashboard-functions">
            <div class="subcontainer-row-dashboard">
                <a href="/noleggi/nuovo" class="function-button-link"><button><i class='bx bx-message-alt-add nav_icon'></i>
                    <div style="width: 8px;"></div> Crea noleggio
                </button></a>
            </div>
            <div class="subcontainer-row-dashboard" style="text-align: right;">
                <a href="/noleggi/nuovo" class="function-button-link"><button><i class='bx bx-message-alt-add nav_icon'></i>
                    <div style="width: 8px;"></div> Crea noleggio
                </button></a>
            </div>
        </div>
        <% }%>
    <% }%>