<header class="header" id="header">
  <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
  <div style="text-align: right; width: 95%"><%= session.user.nome %> <%= session.user.cognome%></div>
  <div class="header_img"><a href="/profilo/modifica"><img src="<%= session.user.riferimentoFoto %>" alt=""></a></div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div> <a href="/home" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
            class="nav_logo-name">Gestore Magazzino</span> </a>
        <div class="nav_list"> 
          <a href="/home" class="nav_link <% if(active == "dashboard"){%>active<%}%>"><i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Dashboard</span> </a> 
          <a href="/prodotti" class="nav_link <% if(active == "prodotti"){%>active<%}%>"> <i class='bx bx-box nav_icon'></i> <span class="nav_name">Inventario</span></a> 
          <% if(session.user.ruolo != "utente"){%>
            <a href="/categorie" class="nav_link <% if(active == "categorie"){%>active<%}%>"> <i class='bx bx-purchase-tag-alt nav_icon'></i><span class="nav_name">Categorie</span> </a> 
          <% }%>
          <% if(session.user.ruolo != "utente"){%>
            <a href="/noleggi" class="nav_link <% if(active == "noleggi"){%>active<%}%>"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Noleggi</span> </a> 
          <% }%>
          <% if(session.user.ruolo == "amministratore"){%>
            <a href="/utenti" class="nav_link <% if(active == "utenti"){%>active<%}%>"> <i class='bx bx-user nav_icon'></i><span class="nav_name">Utenti</span> </a> 
          <% }%>
          <% if(session.user.ruolo != "utente"){%>
            <a href="/archivio" class="nav_link <% if(active == "archivio"){%>active<%}%>"> <i class='bx bx-history nav_icon'></i><span class="nav_name">Archivio noleggi</span> </a> 
          <% }%>
          <a href="/manuale" class="nav_link <% if(active == "manuale"){%>active<%}%>"> <i class='bx bx-book-bookmark nav_icon'></i> <span class="nav_name">Manuale</span> </a> 
          <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon' style="height: 100%;"></i> <span class="nav_name">Logout</span></a>
        </div>
      </div> 
    </nav>
  </div>
