.dashboard-functions {
  padding: 12px;
  display: flex;
  width: 100%;
  margin: auto;
  text-align: center;
}

.dashboard-functions button {
  color: #fff;
  background: var(--first-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 1rem;
  border: 1px solid var(--first-color);
  transition: all .3s ease-in-out;
}

.dashboard-functions a {
  display: inline-block;
}

.dashboard-functions i {
  font-size: 50px;
}

.dashboard-functions button:hover {
  background-color: var(--first-color);
}
