

.dashboard-functions button {
  color: #fff;
  background: var(--first-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 1rem;
  border: 1px solid var(--first-color);
  transition: all .3s ease-in-out;
}

.dashboard-functions a {
  display: inline-block;
}

.dashboard-functions i {
  font-size: 50px;
}

.dashboard-functions button:hover {
  background-color: var(--first-color);
}

.dashboard-functions{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}

div.subcontainer-row-dashboard{
  margin-left: 10px;
  margin-right: 10px;
  width: 50%; 
}

.function-button-link{
  text-decoration: none;
}

/* icona pulsanti*/
.bx.bx-message-alt-add.nav_icon{
  color: #fff;
  font-size: xx-large;
}
