@media screen and (min-width: 1300px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .showNB {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }

    .optional {
        display: block;
    }

    .item-center {
        width: 100%;
    }

    .item-right {
        width: calc(100% - 350px);
    }

    .item-container {
        max-width: 1200px;
    }

    .item-picture {
        width: 300px;
        height: 300px;
    }

    .responsive-button {
        width: 100%;
    }

    .item-container {
        display: inline-flex;

    }

    .item-container .item-title{
        width: 100%;
    }
}

@media screen and (max-width: 1700px) {
    .functions {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .functions div {
        justify-content: center;
        width: 100%;
    }

    .functions div .optional {
        display: none;
    }

    .functions div button {
        width: 100px;
        height: 100px;
    }

    .functions div button {
        font-size: 66px;
    }
}