<!DOCTYPE html>
<html lang="it">

<head>
  <%- include('../_templates/header'); -%>
    <link rel="stylesheet" href="/css/noleggio/aggiungi.css">
    <title>GestionaleMagazzino - Nuovo noleggio</title>
    <script src="/html5qrcode/html5-qrcode.min.js"></script>
</head>

<body className='snippet-body'>
  <body id="body-pd">
    <%- include('../_templates/navbar.ejs', {active: "noleggi" }); -%>
      <!--Container Main start-->
      <div class="height-100 bg-light">
        <div class="main-section">
          <div class="item-container">
            <div class="item-center">
              <div class="item-title">
                <h2>Crea Noleggio</h2>
              </div>
              <% if(typeof displayError !== "undefined" && displayError){ %>
                <div class="alert alert-danger" role="alert">
                  <%= message %>
                </div>
              <% } %>
              <br>
              <form action="/noleggi/nuovo" method="POST" enctype="multipart/form-data" id="aggiuntaForm">
                <div class="item-info">
                  <div class="form-row">
                    <label>Nome Noleggio</label>
                    <input class="form-control" type="text" name="nome" required>
                  </div>
                  <br>
                  <div class="form-row">
                    <label>Data Inizio</label>
                    <input class="form-control" type="date" name="dataInizio" disabled>
                  </div>
                  <br>
                  <div class="form-row">
                    <label>Data Fine</label>
                    <input class="form-control" type="date" name="dataFine" required>
                  </div>
                  <br>
                  <div class="item-title">
                    <h3>Inserisci foto opz.</h3>
                  </div>
                  <div class="form-row">
                    <input class="form-control" type="file" name="foto" id="formFile" accept="image/*" capture="camera">
                  </div>
                  <br>
                  <div class="item-picture">
                    <img id="previewImage" width="400" height="300">
                  </div>
                </div>
                <br>
                <div class="form-row">
                  <table class="table prodottiNoleggio">
                    <thead>
                      <tr>
                        <td>Codice</td>
                        <td>Nome</td>
                        <td>Quantità</td>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <br>
                <div class="form-row">
                  <button type="button" class="btn btn-primary" id="addProduct-btn">Aggiungi prodotto</button>
                </div>
                <br>
                <div class="form-row">
                  <div id="reader"></div>
                </div>
                <input type="hidden" id="postProdottiInput" name="prodottiNoleggio">
                <div class="functions">
                  <div class="button-align-left">
                    <button type="submit"><i class='bx bxs-check-circle'></i></button>
                    <span class="optional">Conferma</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
  </body>
</body>
<script src="/js/navbar.js"></script>
<script src="/js/aggiungiNoleggio.js"></script>
</html>