<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/header'); -%>
    <title>Index</title>
</head>
<body>
    <!-- Prova per vedere se funziona il login -->
    <p>Benvenuto nel sito</p>
</body>
</html>