<!doctype html>
<html>

<head>
  <title>Gestionale Magazzino - Prodotti</title>
  <%- include('../_templates/header'); -%>
  <link rel="stylesheet" href="/css/prodotto/dettagli_prodotto.css">
</head>

<body className='snippet-body'>

  <body id="body-pd">
    <header class="header" id="header">
      <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
      <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
              class="nav_logo-name">Gestore Magazzino</span> </a>
          <div class="nav_list">
            <a href="#" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span
                class="nav_name">Dashboard</span> </a>
            <a href="#" class="nav_link"> <i class='bx bx-box nav_icon'></i> <span
                class="nav_name active">Inventario</span></a>
            <a href="#" class="nav_link"> <i class='bx bx-user nav_icon'></i><span class="nav_name">Utenti</span> </a>
            <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                class="nav_name">Noleggi</span> </a>
            <a href="#" class="nav_link"> <i class='bx bx-cart nav_icon'></i> <span class="nav_name">Carrello</span></a>
            <a href="#" class="nav_link"> <i class='bx bx-book-bookmark nav_icon'></i> <span
                class="nav_name">Manuale</span> </a>
          </div>
        </div>
        <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Logout</span></a>
      </nav>
    </div>

    <!--Container Main start-->
    <div class="height-100 bg-light">
      <div class="main-section">
        <div class="item-container">
          <div class="item-left">
            <div class="item-picture">
              <img src="/img/prodotto/1.png" alt="item Picture">
            </div>
            <div class="item-title">
              <h2>Fotocamera</h2>
            </div>
            <div class="item-info">
              <p><strong>ID:</strong> 1</p>
              <p><strong>Disponibili:</strong> 4</p>
              <p><strong>Quando disponibile:</strong> adesso</p>
            </div>
            <div class="functions">
              <div class="button-align-left">
                <button type="submit"><i class='bx bx-qr'></i></button>
                <span class="optional">Stampa codice QR</span>
              </div>
              <div class="button-align-left">
                <button type="submit"><i class='bx bx-trash'></i></button>
                <span class="optional">Rimuovi oggetto</span>
              </div>
            </div>
          </div>
          <div class="item-right">
            <div class="item-title">
              <h2>Noleggi</h2>
            </div>
            <div class="custom-table-container">
              <table class="table custom-table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th class="optional" scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantità</th>
                    <th class="optional" scope="col">Categoria</th>
                    <th scope="col">Mostra</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="control control--checkbox">
                        <input type="checkbox" class="js-check-all" />
                        <div class="control__indicator"></div>
                      </label>
                    </td style="height: 50px;">
                    <td class="optional">1</td>
                    <td>PX501</td>
                    <td>3</td>
                    <td class="optional">Videocamere</td>
                    <td><button type="submit"><i class="bx bx-show-alt"></i></button></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control control--checkbox">
                        <input type="checkbox" class="js-check-all" />
                        <div class="control__indicator"></div>
                      </label>
                    </td style="height: 50px;">
                    <td class="optional">1</td>
                    <td>PX501</td>
                    <td>3</td>
                    <td class="optional">Videocamere</td>
                    <td><button type="submit"><i class="bx bx-show-alt"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--Container Main end-->
      <script type="text/javascript" src="/js/navbar.js"></script>
  </body>
</html>